.article-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.article-container > :last-child {
  margin-bottom: 0;
}

.article-title {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.article-title a {
  text-decoration: none;
  color: #0069d9;
}

.article-bullets li {
  margin-bottom: 5px;
  text-indent: -1.5em; /* Adjust the indentation as needed */
}

.article-bullets li::marker {
  color: #0069d9; /* Update the color to match the title */
}

.article-bullets {
  list-style-type: disc;
  font-family: "Arial", sans-serif;
  font-size: 1.4rem;
  color: #333333;
  list-style-position: inside;
  padding-left: 1.2em;
  padding-right: 20px;
}

.article-image {
  width: 600px; /* Adjust the width as needed */
  height: 350px; /* Adjust the height as needed */
  align-self: flex-end;
  margin-left: auto;
}
.article-image {
  width: 600px; /* Adjust the width as needed */
  height: 350px; /* Adjust the height as needed */
  align-self: flex-end;
  margin-left: auto;
  border: 2px solid #0069d9;
  border-radius: 20px;
  object-fit: cover;
}